body{
    background-color: rgb(24, 22, 22);
}
img{
    width: 100%;
}
.main__container{
    margin: 0 auto;
    height: 600px;
    width: 500px;
    top: 8em;
    position: relative;
    display: flex;
    align-items: center;
}
.carousel__container{
    position: relative;
    margin: 0 auto;
    height: 485px;
    overflow: hidden;
}

.photo__container,
.photo__container--hidden{
    display: none;
}
.photo__container--visible{
    display: block;
}



.button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    border: 1px solid red;
    height: 90px;
    padding-top: 20px;
    margin: 0 10px;
    z-index: 2;
    
}

.button__prev--line--one{
    background-color: rgb(163, 11, 11);
    transform: rotate(-45deg);
    height: 4px;
    width: 35px;
    position: relative;
    bottom: 19px;
    
}
.button__prev--line--two{
    background-color: rgb(163, 11, 11);
    transform: rotate(45deg);
    height: 4px;
    width: 35px;
    top: 7px;

}
.button__next--line--one{
    background-color: rgb(163, 11, 11);
    transform: rotate(45deg);
    height: 4px;
    width: 35px;
    position: relative;
    bottom: 19px;
    
}
.button__next--line--two{
    background-color: rgb(163, 11, 11);
    transform: rotate(-45deg);
    height: 4px;
    width: 35px;
    top: 7px;

}
