body{
    background-color: rgb(24, 22, 22);
}

.container{
    margin: 0 auto;
    height: 600px;
    width: 400px;
    top: 3em;
    position: relative;
    display: flex;
    align-items: center;
}
.carousel_container{
    position: relative;
    width: 350px;
    margin: 0 auto;
    height: 470px;
    display: flex;
    overflow: hidden;
}
.left{
    height: 20px;
    cursor: pointer;
}
.right{
    height: 20px;
    cursor: pointer;
}
img{
    height: 470px;
}