body{
    background-color: rgb(24, 22, 22);
}
img{
    height: 101%;
    width: 100%;
}
.container{
    margin: 0 auto;
    height: 600px;
    width: 500px;
    top: 8em;
    position: relative;
    display: flex;
    align-items: center;
}
.carousel_container{
    position: relative;
    margin: 0 auto;
    height: 485px;
    width: fit-content;
    display: flex;
    /* overflow: hidden; */
}

.button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    height: 90px;
    padding-top: 20px;
    margin: 0 10px;
    z-index: 100;
}

.lineLeft{
    background-color: rgb(163, 11, 11);
    transform: rotate(-45deg);
    height: 4px;
    width: 35px;
    position: relative;
    bottom: 19px;
    
}
.lineLeftTwo{
    background-color: rgb(163, 11, 11);
    transform: rotate(45deg);
    height: 4px;
    width: 35px;
    top: 7px;

}
.lineRight{
    background-color: rgb(163, 11, 11);
    transform: rotate(45deg);
    height: 4px;
    width: 35px;
    position: relative;
    bottom: 19px;
    
}
.lineRightTwo{
    background-color: rgb(163, 11, 11);
    transform: rotate(-45deg);
    height: 4px;
    width: 35px;
    top: 7px;

}
