*{
    transition:0.5s ease all;
}
body{
    padding: 0;
    margin: 0;
    background-color: rgb(26, 22, 22);
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(23 1 1 / 80%);
    height: 100%;
    width: 100%;
    display: none;
}
.box{
    background-color: rgb(95, 3, 3);
    width: 420px;
    margin: 0 auto;
    top: 20%;
    height: 30em;
    position: relative;
    overflow: hidden;
}

.active{
    display: block;
}

.modalBtn{
    position: relative;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(145, 14, 14);
    border: 1px solid rgb(41, 41, 41);
    top: 20%;
    cursor: pointer;
    box-shadow: 3px 3px 4px;
    font-size: 1.5em;
    text-align: center;
}

.modalBtn:hover{
    background-color: rgb(206, 13, 13);
    box-shadow: none;
}

.modalBtn:focus{
    outline: none;
}

.close{
    height: 30px;
    width: 30px;
    position: relative;
    left: 10px;
    top: 15px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1.9em;
    color: rgb(223, 221, 221);
}

.close:focus{
    outline: none;
}

.topTitle{
    position: relative;
    top: 8%;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-size: 2em;
    color: rgb(223, 221, 221);
}
.bottomTitle{
    font-size: 2em;
    top: 5%;
    position: relative;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    color: rgb(223, 221, 221);

}
.modalTitle{
    position: relative;
    top: 1%;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-size: 1.3em;
    color: rgb(223, 221, 221);
}

.output{
    display: flex;
}

.outputTop{
    width: 50%;
    overflow: hidden;
}
.outputBottom{
    width: 50%;
}

.outputTitle{
    position: relative;
    margin: 0 25px;
    font-family: 'Rock Salt', cursive;
    font-size: 1.1em;
    color: rgb(223, 221, 221);
}
.outputDesc{
    position: relative;
    margin: 0 25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8em;
    overflow: hidden;
    color: rgb(223, 221, 221);
}

.myImage{
    width: 180px;
    height: 330px;
}

