body{
    background-color: rgb(24, 22, 22);
}
img{
    width: 100%;
}
@keyframes next {
    0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(300px)rotate(10deg);
      }
}
@keyframes prev {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-300px) rotate(-10deg);
    }
}
.effectPrev{
    transition: 0.5s ease all;
    opacity: 0.1;
    animation: prev 0.5s infinite;
}
.effectNext{
    transition: 0.5s ease all;
    opacity: 0.1;
    animation: next 0.5s infinite;
}
.reset{
    transition: 0.1s ease all;
    opacity: 1;
}
.main__container{
    margin: 0 auto;
    height: 600px;
    width: 500px;
    top: 8em;
    position: relative;
    display: flex;
    align-items: center;
    min-width: 100px;
}
.carousel__container{
    position: relative;
    margin: 0 auto;
    height: 485px;
}

.button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    height: 90px;
    padding-top: 20px;
    margin: 0 10px;
    z-index: 2; 
}

.button__prev--line--one{
    background-color: rgb(163, 11, 11);
    transform: rotate(-45deg);
    height: 4px;
    width: 35px;
    position: relative;
    bottom: 19px;
    
}
.button__prev--line--two{
    background-color: rgb(163, 11, 11);
    transform: rotate(45deg);
    height: 4px;
    width: 35px;
    top: 7px;

}
.button__next--line--one{
    background-color: rgb(163, 11, 11);
    transform: rotate(45deg);
    height: 4px;
    width: 35px;
    position: relative;
    bottom: 19px;
    
}
.button__next--line--two{
    background-color: rgb(163, 11, 11);
    transform: rotate(-45deg);
    height: 4px;
    width: 35px;
    top: 7px;

}
